SECRET_KEY=

DEBUG=

DB_NAME=lms
DB_USER=postgres
DB_PASSWORD=your-password-here
DB_HOST=db
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=your-email@mail.ru
EMAIL_HOST_PASSWORD=your-email-password
